.signup-body{
    height: 92vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-sign-up{
    position: relative;
    max-width: 700px;
}

.get-sign-up strong{
    font-size: 40px;
    white-space: nowrap;
}

.get-sign-up p{
    font-size: 25px;
    line-height: 1.1;
    padding-right: 50px;
    margin: 0;
}

.signup{
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 5px;
    background-color: white;
    width: 400px;
    padding: 10px 16px 25px;
}

.signup div{
    max-width: 100%;
    position: relative;
}

.signup input{
    position: relative;
    background-color: white;
    font-size: 17px;
    border-radius: 5px;
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: .05rem solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .5);
    margin-top: 10px;
    padding: 14px 16px;
}

.sign-up-error p{
    margin: 0;
    color: red;
    font-weight: bold;
    text-align: center;
}

.submit button{
    width: 100%;
    margin-top: 10px;
    padding: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1877F2;
    color: white;
}

.submit strong{
    font-size: 17px;
    font-weight: 600;
}